body {
  color: red;
  background-color: #F0F0F0;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
}

#head {
  margin: 6px;
  padding: 6px;
  gap: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.instructions {
  font-size: 18px;
}

button,
select {
  color: white;
  background-color: red;
  font-size: 18px;
  width: 128px;
  margin: 6px;
  padding: 6px;
  border: 0px;
  border-radius: 6px;
}

#container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
}

.square {
  margin: 0px;
}
