body {
  color: red;
  background-color: #F0F0F0;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.head {
  margin: 6px;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
}

.square {
  width: 32px;
  height: 32px;
  margin: 0px;
  background-color: white;
  /* but we don't want this around each block
     we only want it around the edges, which is harder
     even if we did want this around each block, this double counts in between
     and gives a 1px border around the edges, but 2px borders in between */
  /*
  border-width: 1px;
  border-style: solid;
  border-color: black;
 */
}
