body {
  color: red;
  background-color: #F0F0F0;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.head {
  margin: 6px;
}

#container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
}

.square {
  margin: 0px;
}
